body {
    background: #14c52c;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    background: rgb(173, 14, 14);
    border-radius: 20px;
    width: 375px;
    text-align: center;
    
                                       
}
.top { 
    height: 120px;
    border-radius: 5px;
    color: white;

}
.middle {
     background: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    font-family: cursive;
    font-size: 4rem;

}
.bottom { 
    height: 20px;
    border-radius: 5px;
    color: white;

}
.hello {
    font-size: 4.5rem;
    line-height: 1;
}
.my-name-is {
    font-size: 2rem;
}